@model IEnumerable<SimasSD.Models.SysEmployeeTitleModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.EmpyTitleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpyTitleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.EmpyTitleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpyTitleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id= item.EmpyTitleID }) |
         
            @Html.ActionLink("Delete", "Delete", new {id= item.EmpyTitleID })
        </td>
    </tr>
}

</table>
